<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"> -->
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600,900%7CRoboto:400,900">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel">
      <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
      </a>
    </div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="preloader-item"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header rd-navbar-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="166px" data-xl-stick-up-offset="166px" data-xxl-stick-up-offset="166px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-main"><span></span></button>
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel-inner container">
                <div class="rd-navbar-collapse rd-navbar-panel-item rd-navbar-panel-item-left">
                  <!-- Owl Carousel-->
                  <div class="owl-carousel-navbar owl-carousel-inline-outer">
                    <div class="owl-inline-nav">
                      <button class="owl-arrow owl-arrow-prev"></button>
                      <button class="owl-arrow owl-arrow-next"></button>
                    </div>
                    <div class="owl-carousel-inline-wrap">
                      <div class="owl-carousel owl-carousel-inline" data-items="1" data-dots="false" data-nav="true" data-autoplay="true" data-autoplay-speed="3200" data-stage-padding="0" data-loop="true" data-margin="10" data-mouse-drag="false" data-touch-drag="false" data-nav-custom=".owl-carousel-navbar">
                        <!-- Post Inline-->
                        {% for data in listMatches %}

                        <article class="post-inline">
                          <time class="post-inline-time" datetime="2020">{{ data.utcDate.strftime('%b %d, %Y')}}</time>
                          <p class="post-inline-title">{{data.homeTeam.shortName}} vs {{data.awayTeam.shortName}}</p>
                        </article>

                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rd-navbar-panel-item rd-navbar-panel-item-right">
                  <!-- RD Navbar Car -->
                  <h5>Miquéias Teofani</h5>
                </div>
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
              </div>
            </div>
            <div class="rd-navbar-main">
              <div class="rd-navbar-main-top">
                <div class="rd-navbar-main-container container">
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="./"><img class="brand-logo " src="/static/images/MyPhoto.png" alt="" width="95" height="126"/></a>
                  </div>
                  <!-- RD Navbar List-->
                  <ul class="rd-navbar-list">
                    <li class="rd-navbar-list-item" width="75" height="42"></li>
                    <li class="rd-navbar-list-item" width="75" height="42"></li>
                    <li class="rd-navbar-list-item" width="75" height="42"></li>
                  </ul>
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search">
                    
                  </div>
                </div>
              </div>
              <!-- RD Navbar Nav-->
            </div>
          </nav>
        </div>
      </header>


      <!-- Swiper-->
      <section class="section swiper-container swiper-slider swiper-classic bg-gray-2" data-loop="true" data-autoplay="4000" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
          <div class="swiper-slide text-center" data-slide-bg="/static/images/slider-1-slide-1-1920x671.jpg">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xl-6">
                  <div class="swiper-slide-caption">
                    <h1 data-caption-animate="fadeInUp" data-caption-delay="100">We play Soccer</h1>
                    <h4 data-caption-animate="fadeInUp" data-caption-delay="200">like no one else in the united states</h4><a class="button button-primary" data-caption-animate="fadeInUp" data-caption-delay="300" href="about-us.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="/static/images/slider-1-slide-2-1920x671.jpg">
            <div class="container">
              <div class="row justify-content-end">
                <div class="col-xl-5">
                  <div class="swiper-slide-caption">
                    <h1 data-caption-animate="fadeInUp" data-caption-delay="100">We Are Pros</h1>
                    <h4 data-caption-animate="fadeInUp" data-caption-delay="200">in Everything Concerning Soccer</h4><a class="button button-primary" data-caption-animate="fadeInUp" data-caption-delay="300" href="about-us.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide" data-slide-bg="/static/images/slider-1-slide-3-1920x671.jpg">
            <div class="container">
              <div class="row">
                <div class="col-xl-5">
                  <div class="swiper-slide-caption">
                    <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Best Website</h1>
                    <h4 data-caption-animate="fadeInUp" data-caption-delay="200">for soccer news, updates, <br class="d-none d-xl-block"> and game results</h4><a class="button button-primary" data-caption-animate="fadeInUp" data-caption-delay="300" href="about-us.html">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button swiper-button-prev"></div>
        <div class="swiper-button swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </section>

      <!-- Latest News-->
      <section class="section section-md bg-gray-100">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-8">
              <!-- POPULAR NEWS -->




              <div class="main-component">
                <!-- Heading Component-->
                <article class="heading-component">
                  <div class="heading-component-inner">
                    <h5 class="heading-component-title">Popular news
                    </h5><a class="button button-xs button-gray-outline" href="#">All news</a>
                  </div>
                </article>
                
                <div class="row row-30">

                  {% for data in listNews %}
                  
                  <div class="col-md-6">
                    <!-- Post Future-->
                    <article class="post-future"><a class="post-future-figure" href="#"><img src="{{data.urlToImage}}" alt="" width="368" height="287"/></a>
                      <div class="post-future-main">
                        <h4 class="post-future-title" ><a href="#">{{data.title}}</a></h4>
                        <div class="post-future-meta">
                          <!-- Badge-->
                          <div class="badge badge-secondary">{{data.author}}
                          </div>
                          <div class="post-future-time"><span class="icon mdi mdi-clock"></span>
                            <time datetime="2020">{{ data.publishedAt.strftime('%b %d, %Y')}}</time>
                          </div>
                        </div>
                        <hr/>
                        <div class="post-future-text">
                          <p style="max-width: 100ch;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{data.description}}</p>
                        </div>
                        <div class="post-future-footer group-flex group-flex-xs"><a class="button button-gray-outline" href="#">Read more</a>
                          <div class="post-future-share">
                            <div class="inline-toggle-parent">
                              <div class="inline-toggle icon material-icons-share"></div>
                              <div class="inline-toggle-element">
                                <ul class="list-inline">
                                  <li>Share</li>
                                  <li><a class="icon fa-facebook" href="#"></a></li>
                                  <li><a class="icon fa-twitter" href="#"></a></li>
                                  <li><a class="icon fa-google-plus" href="#"></a></li>
                                  <li><a class="icon fa-instagram" href="#"></a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <!-- END -> POPULAR NEWS -->
              <div class="main-component">
                <!-- Heading Component-->
                <article class="heading-component">
                  <div class="heading-component-inner">
                    <h5 class="heading-component-title">Upcoming Match
                    </h5><a class="button button-xs button-gray-outline" href="#">Calendar</a>
                  </div>
                </article>
                <!-- Game Result Bug-->
                {% for data in listMatches %}
                <article class="game-result">
                  <div class="game-info game-info-creative">
                    <p class="game-info-subtitle">Real Stadium - 
                      <time datetime="08:30"> {{ data.utcDate.strftime('%I:%M %p')}}</time>
                    </p>
                    <h3 class="game-info-title">{{data.competition.name}} - {{data.competition.type}} | {{data.area.name}}</h3>
                    <div class="game-info-main">
                      <div class="game-info-team game-info-team-first">
                        <figure><img src="{{data.homeTeam.crest}}" alt="" width="75" height="99"/>
                        </figure>
                        <div class="game-result-team-name">{{data.homeTeam.shortName}}</div>
                        <div class="game-result-team-country">{{data.area.name}}</div>
                      </div>
                      <div class="game-info-middle game-info-middle-vertical">
                        <time class="time-big" datetime="2020-04-17"><span class="heading-3">{{ data.utcDate.strftime('%a %d')}}</span> {{ data.utcDate.strftime('%b %Y')}}
                        </time>
                        <div class="game-result-divider-wrap"><span class="game-info-team-divider">VS</span></div>
                        <!-- <div class="group-sm">
                          <div class="button button-sm button-share-outline">Share
                            <ul class="game-info-share">
                              <li class="game-info-share-item"><a class="icon fa fa-facebook" href="#"></a></li>
                              <li class="game-info-share-item"><a class="icon fa fa-twitter" href="#"></a></li>
                              <li class="game-info-share-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                              <li class="game-info-share-item"><a class="icon fa fa-instagram" href="#"></a></li>
                            </ul>
                          </div><a class="button button-sm button-primary" href="#">Buy tickets</a>
                        </div> -->
                      </div>
                      <div class="game-info-team game-info-team-second">
                        <figure><img src="{{data.awayTeam.crest}}" alt="" width="75" height="99"/>
                        </figure>
                        <div class="game-result-team-name">{{data.awayTeam.shortName}}</div>
                        <div class="game-result-team-country">{{data.area.name}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="game-info-countdown">
                    <div class="countdown countdown-bordered" data-type="until" data-time="31 Dec 2020 16:00" data-format="dhms" data-style="short"></div>
                  </div>
                </article>
                {% endfor %}
              </div>
            </div>
            <!-- Aside Block-->
            <div class="col-lg-4">
              <aside class="aside-components">
                <div class="aside-component">
                  <div class="owl-carousel-outer-navigation-1">
                    <!-- Heading Component-->
                    <article class="heading-component">
                      <div class="heading-component-inner">
                        <h5 class="heading-component-title">Live results
                        </h5>
                        <div class="owl-carousel-arrows-outline">
                          <div class="owl-nav">
                            <button class="owl-arrow owl-arrow-prev"></button>
                            <button class="owl-arrow owl-arrow-next"></button>
                          </div>
                        </div>
                      </div>
                    </article>
                    <!-- Owl Carousel-->
                    <div class="owl-carousel owl-spacing-1 owl-loaded" data-items="1" data-dots="false" data-nav="true" data-autoplay="true" data-autoplay-speed="4000" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-animation-in="fadeIn" data-animation-out="fadeOut" data-nav-custom=".owl-carousel-outer-navigation-1">
                      <!-- Game Result Creative-->
                      <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1199px, 0px, 0px); transition: all 0s ease 0s; width: 2400px;" >
                          {% for data in listMatches %}
                          <div class="owl-item" style="width: 369.984px; margin-right: 30px;">
                            <article class="game-result game-result-creative">
                              <div class="game-result-main-vertical">
                                <div class="game-result-team game-result-team-horizontal game-result-team-first">
                                  <figure class="game-result-team-figure"><img src="{{data.homeTeam.crest}}" alt="" width="31" height="41"/>
                                  </figure>
                                  <div class="game-result-team-title">
                                    <div class="game-result-team-name">{{data.homeTeam.shortName}}</div>
                                    <div class="game-result-team-country">{{data.area.name}}</div>
                                  </div>
                                  <div class="game-result-score game-result-score-big game-result-team-win">{%if data.score.fullTime.home == None %} 0 {%else%} {{data.score.fullTime.home}} <span class="game-result-team-label game-result-team-label-right">LIVE</span>{% endif %}<!--<span class="game-result-team-label game-result-team-label-right">Win</span>-->
                                  </div>
                                </div><span class="game-result-team-divider">VS</span>
                                <div class="game-result-team game-result-team-horizontal game-result-team-second">
                                  <figure class="game-result-team-figure"><img src="{{data.awayTeam.crest}}" alt="" width="40" height="32"/>
                                  </figure>
                                  <div class="game-result-team-title">
                                    <div class="game-result-team-name">{{data.awayTeam.shortName}}</div>
                                    <div class="game-result-team-country">{{data.area.name}}</div>
                                  </div>
                                  <div class="game-result-score game-result-score-big">{%if data.score.fullTime.away == None %} 0 {%else%} {{data.score.fullTime.away}} <span class="game-result-team-label game-result-team-label-right">LIVE</span> {% endif %}
                                  </div>
                                </div>
                              </div>
                              <div class="game-result-footer">
                                <ul class="game-result-details">
                                  <li>{{data.competition.name}}</li>
                                  <li>{{data.competition.type}}</li>
                                  <li>
                                    <time datetime="2020-04-14">{{ data.utcDate.strftime('%B %d, %Y')}}</time>
                                  </li>
                                </ul>
                              </div>
                            </article>
                          </div>
                        {% endfor %}
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>


      <!-- Page Footer-->

      <!-- Modal Video-->
      <div class="modal modal-video fade" id="modal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" data-src="https://www.youtube.com/embed/uSzNA2_y46c"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>